#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  padding-top: 0.5rem;

  .cta {
    display: flex;
    align-items: center;
  }

  .options {
    display: flex;
    column-gap: 2rem;
  }
}
