#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cta {
    display: flex;
    align-items: center;
  }

  .options {
    display: flex;
    column-gap: 2rem;
  }
}
