#profile {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;

  .info {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    .name {
      font-weight: 700;
      font-size: 50px;
      line-height: 55px;
    }

    .firstName {
      color: #232e35;
    }

    .lastName {
      padding-left: 1rem;
      color: #7e74f1;
    }

    .description {
      max-width: 30vw;
    }

    .icons {
      display: flex;
      column-gap: 1.5rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  #profile {
    padding: 1rem;
    padding-bottom: 4rem;

    .info {
      row-gap: 1rem;

      .name {
        font-size: 40px;
      }

      .description {
        font-size: 1.1rem;
        max-width: 85%;
      }
    }
  }
}

@media (max-width: 767px) {
  #profile {
    padding: 1rem 2rem;
    padding-bottom: 4rem;

    .info {
      row-gap: 1rem;

      .name {
        font-size: 38px;
      }

      .description {
        font-size: 1rem;
        max-width: 90%;
      }
    }

    .pic {
      display: none;
    }
  }
}
