#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7rem 5rem;
  background-color: #fbfbfb;

  .cards {
    display: flex;
    padding-top: 4rem;
    column-gap: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  #services {
    padding: 4rem 2rem;

    .cards {
      padding-top: 2rem;
      column-gap: 1rem;
    }
  }
}

@media (max-width: 767px) {
  #services {
    padding: 4rem 2rem;

    .cards {
      flex-direction: column;
      padding-top: 2rem;
      row-gap: 1.5rem;
    }
  }
}
