#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7rem 5rem;

  .row1 {
    display: flex;
    justify-content: space-between;
  }

  .projectList {
    display: flex;
    gap: 5rem 5rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    cursor: pointer;
  }

  .card {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    transition: 0.5s;
  }

  .card:hover {
    box-shadow: 0 0 2px black;
    margin-top: -5px;
    opacity: 0.4;
  }
}
